.grandpa{
    border: 2px solid goldenrod;
    margin: 10px;
    padding: 5px;
}
.grandpa div{
    border: 2px solid goldenrod;
    margin: 10px;
    padding: 5px;
}
.grandpa p{
    margin: 5px 10px;
}
